:root {
    --bg-color: #FAFAFA; /* Daisy */
    --grey: rgba(0,0,0,0.05);
    --dark-grey: #212427;
    box-sizing: border-box;
    font-size: calc(1em + 0.8vw);
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    position: relative;
    line-height: 1.2em;
    font-size: 1rem;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.5rem;
}

#first-main-header {
    margin: 0px;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

#page-header {
    margin: 0px;
    padding: 0.5em;
}


main {
    background-color: var(--bg-color);
    /* margin: 0 2em; */
    padding: 0 1em;
    height: 100%;
}

section:last-child > p {
    margin-bottom: 0px;
    padding-bottom: 1em;
}

nav {
    background-color: var(--bg-color);  
}


nav > header {
    text-align: center;
}

nav > ul {
    border: 2px solid var(--dark-grey);
    list-style: none;
    padding-left: 0;
}

ul {
    margin: 0;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 1rem;
    border-top: 1px solid var(--dark-grey);
    padding: 0.75rem;
}

a:hover {
    background-color: var(--grey);
}

p {
    margin: 1em;
}

code {
    background-color: var(--grey);
    border-radius: 0.25em;   
}

code.inline-block {
    padding: 0.5em;
    white-space: pre-wrap;
    margin-left: 1em;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

@media (width >=1000px) {
    :root {
        font-size: calc(0.5em + 0.9vw);
    }
    main {
        margin: 0px;
    }
    nav {
        height: 100%;
        position: fixed;
        width: 20%;
        border-right: 2px solid var(--dark-grey);
    }
    main {
        margin-left: 20%;
        width: 80%;
    }
    nav > ul {
        border: none;;
    }

    #first-main-header {
        margin: 0px;
        padding-top: 0.5em;
        padding-left: 0.5em;
    }
}

@media (width>=1400px) {
    :root {
        font-size: calc(0.25em + 0.9vw);
    }
}